@font-face {
	font-family: "Raleway";
	src: url("static/Raleway-Thin.ttf") format("truetype"),
		  url("Raleway/static/Raleway-ExtraLight.ttf") format("truetype"),
		  url("Raleway/static/Raleway-Light.ttf") format("truetype"),
		  url("Raleway/static/Raleway-Regular.ttf") format("truetype"),
		  url("Raleway/static/Raleway-Medium.ttf") format("truetype"),
		  url("Raleway/static/Raleway-SemiBold.ttf") format("truetype"),
		  url("Raleway/static/Raleway-Bold.ttf") format("truetype"),
		  url("Raleway/static/Raleway-ExtraBold.ttf") format("truetype"),
		  url("Raleway/static/Raleway-Black.ttf") format("truetype"),
		  url("Raleway/static/Raleway-ThinItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-ExtraLightItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-LightItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-Italic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-MediumItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-SemiBoldItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-BoldItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-ExtraBoldItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-BlackItalic.ttf)") format("truetype");
}


*/*police*/
{
	font-family: "Raleway", sans-serif;
	
}

a/*tous les liens cliquables de la page*/
{
	text-decoration: none;/*perd soulignement défini par défaut*/
	color: black;/*perd couleur définie bleu par défaut*/
}

header
{
	display: flex;
	flex-direction: row;/*disposition des éléments sur la même ligne*/
	justify-content: space-between;/*espace entre le logo et le menu; chacun à une extrémité*/
	margin-right: 77px;/*marge ext droite du bloc*/
	margin-top: 51px;/*marge ext haute du bloc*/
	margin-left: 53px;/*marge ext gauche du bloc*/
}	

.reservia/*logo (image)*/
{
	width: 25%;/*largeur par rapport au bloc menu*/
	height: 181,25%;/*hauteur par rapport au bloc menu*/
}

.menu/*hébergements,activités,s'inscrire*/
{
	display: flex;
	justify-content: space-between;/*espace entre les mots*/
	width: 29%;/*largeur totale du bloc par rapport au bloc header*/
	height: 53%;/*hauteur totale du bloc par rapport au bloc header*/
	font-size: 16px;/*taille police*/
	
}

#sinscrire
{
	color: #0065FC;/*couleur police en bleu*/
	font-weight: bold;/*en gras*/
}


h1
{
	font-size: 21px;
}